// Specific CSS for your home-page
.get-started {
  box-sizing: content-box;
  background-position: center;
  opacity: 0.9;
  padding: 60px;
}

.join-community {
  box-sizing: content-box;
  padding: 60px;
}
.container-btn {
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
}

.vertical-center {
  position: relative;
}


.get-started-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  font-weight: medium;
}

.get-started-title h1 {
  margin: 30;
  padding: 100px 20px 20px 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.get-started-flex {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}


.get-started h1 {

  padding: 30px 20px 20px 20px;
}

.get-started h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}


.get-started p {
  margin-left: 30;

 display: contents;
  font-size: 30px;

  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.get-started a {
  padding: 24px 80px;
  margin: 50px 10px 50px 10px;
  font-size: 18px;
}

.get-started .btn-flat {

  border-radius: 2px;

  padding: 30px 200px;
  background-color: white;
  color: #FFAC00;

}

.image-get-started {
  float: right;
}

.image-get-started:hover {
  opacity: 0.4;
}

.join-community-container {
  background-color: white;
  color: #FFAC00;


  padding: 20px;

}

.col-3 img {
  padding: 20px;
}

.join-community .btn-flat {

  border-radius: 2px;


  padding: 30px 200px;
  margin: 50px;
  background-color: #FFAC00;
  color: white;

}

