// Specific CSS for your home-page
.get-started {
  box-sizing: content-box;
  background-position: center;
  opacity: 0.9;
  padding: 60px;
}

.join-community {
  box-sizing: content-box;
  padding: 60px;
}

.container-btn {
  position: relative;
  display: flex;
  justify-content: center;
}

.vertical-center {
  position: relative;
  padding-top: 15px;
}

.get-started-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  font-weight: medium;
}

.join-community-container h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.col-3 {
  padding: 20px;
  font-weight: medium;
  color: white;
}

.join-community .btn-flat {
  font-size: 18px;
  border-radius: 2px;
  padding: 30px 200px;
  margin-top: 30px;
  background-color: #FFAC00;
  color: white;
  border-style: 0.1px solid;
  border-color: white;
}

#testimony {
  color: black;
}

.col-3-testimony {
  padding: 10px;
}
