// Import page-specific CSS files here.
@import "home";
@import "show_users";
@import "new_post";
@import "edit_user";

.btn-info-post {
  background-color: #FFAC00;
  padding: 2px;
  border-radius: 25px;
  border: 1px solid #FFAC00;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.btn-info-post a {
  text-decoration: none;
  color: white;
}

.categories-container {
  margin: 50px 50px 0px 50px;
}

.btn-info-categories {
  a {
  color: #FFAC00;
  text-decoration: none;
  }
  background-color: #ffffff;
  margin: 6px;
  padding: 7px;
  border-radius: 25px;
  border: 1.5px solid #FFAC00;
  font-size: 16px;
}

.btn-info-categories:hover {
  a {
  text-decoration: none;
  color: white;
  }
    background-color: #FFAC00;
    margin: 6px;
    padding: 7px;
    border-radius: 25px;
    border: 1.5px solid #FFAC00;
    font-size: 16px;
}

.index-container {
  // margin: 20px;
  margin: 50px 50px 0px 50px;
}

.index-container h2 {
  margin-bottom: 20px;
}

.most-commented {
  margin: 20px;
  padding: 10px 10px 0px 10px;
}

.pagy-bootstrap-nav {
  float: center;
  border-style: none;
}

.pagination {
  border-color: black;
  background-color: white;
}

.pagination li {

  border-radius: 15px;
  padding: 5px;
}

.pagination a {
  padding: 7px;
  color: black;
  border-radius: 15px;
}

.page-item a {
  border-radius: 15px;
  color: black;
}

.page-item.active .page-link {
    border-radius: 15px;
    z-index: 3;
    color: white;
    background-color: #FFAC00;
    border-color: #FFAC00;
}

.container-index {
  display: flex;
  justify-content: center;
}

.fa-comment {
  margin: 2px;
  padding-top: 2px;
}

.fa-eye {
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.icon-text {
  padding-right: 2px;
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .btn-info-categories {
    border: 1.5px solid #FFAC00;
    font-size: 14px;
    padding: 5px;
    &:hover {
      border: 1.5px solid #FFAC00;
    font-size: 14px;
    padding: 5px;
    }
  }
}
