// Import page-specific CSS files here.
@import "home";
@import "show_users";
@import "new_post";
@import "edit_user";

.btn-info-post {
  background-color: #FFAC00;
  padding: 2px;
  border-radius: 25px;
  border: 1px solid #FFAC00;
  font-size: 14px;
  color: white;
}

.btn-info-post a {
  text-decoration: none;
  color: white;
}

.categories-container {
  margin: 50px 50px 0px 50px;
}

.btn-info-categories {
  background-color: #FFAC00;
  margin: 10px;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid #FFAC00;
  font-size: 18px;
  color: white;
}

.btn-info-categories a{
  text-decoration: none;
  color: white;
}

.index-container {
  margin: 20px;
}

.index-container h1 {
  margin: 20px;
}

.most-commented {
  margin: 20px;
  padding: 10px 10px 0px 10px;
}

.pagy-bootstrap-nav {
  float: center;
  border-style: none;
}

.pagination {
  border-color: black;
  background-color: white;
}

.pagination li {

  border-radius: 15px;
  padding: 5px;
}

.pagination a {
  padding: 7px;
  color: black;
  border-radius: 15px;
}

.page-item a {
  border-radius: 15px;
  color: black;
}

.page-item.active .page-link {
    border-radius: 15px;
    z-index: 3;
    color: white;
    background-color: #FFAC00;
    border-color: #FFAC00;
}

.container-index {
  display: flex;
  justify-content: center;
}
