.login-container {
  background: white;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-logo p {
  padding: 20px 1px 1px 20px;
}

.login-cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.login-logo {
  width: 700px;
  color: white;
  font-size: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
  .logo-login {
    border-radius: 20%;
  }
}

.login-form {
  margin-left: 100px;
  width: 500px;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  height: auto;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  .btn {
    color: white;
    width: 100%;
    &:hover {
      background-color: #e09600;
    }
  }
  .login-shared-links {
    margin-top: 50px;
    a{
      padding: 10px;
      background: #FFAC00;
      color: white;
      border-radius: 2px;
      &:hover {
        text-decoration: none;
        background-color: #e09600;
      }
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .login-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .login-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .login-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .login-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .login-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
