.center .btn {
  &:hover {
    background: #E09600;
  }
}

.col-md-12 li {
  list-style: none;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #white;
  color: #FFAC00 !important;

  border: 1px solid #FFAC00;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #FFAC00;
  color: white !important;
}

.hidden-embed-pdf {
  display: none;
}

.form-container {
  margin-bottom: 40px;
}

.form-container .black-text {
  color: black;

}
