.btn-ghost {
  color: black;
  padding: 8px 24px;
  border-radius: 0px;
  font-weight: lighter;
  list-style: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #4A4A4A;
}

.remove_bullet_points {
  list-style: none;
}

.notifications {
  background-image: url("abstract-1115");
}

.notification-container {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  margin: 50px 50px 0px 50px;
  border: 1px solid rgba(0,0,0,0.2);
  height: auto;
  width: 80%;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.notification-container a:hover {
  color: orange;
}
