.user-avatar-container {
  margin-top: 50px;
  padding: 20px 50px;
  display: flex;
}

.username-info {
  padding-top: 20px;
}

.tab-container {
  padding: 20px 50px;
}

.initials-avatar {
  height: 90px;
  width: 90px;
  background-color: #FFAC00 ;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.initials {
  font-size: 24px;
}


