.signup-container {
  background: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 20px;
}

.sign-up-font {
  font-size: 12px;
}

.signup-logo {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 900px;
  .logo-signup {
    border-radius: 20%;
  }
}

.signup-form {
  margin: 20px 0 40px auto;
  width: 500px;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  height: auto;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  .btn {
    color: white;
    width: 100%;
    &:hover {
      background-color: #e09600;
    }
  }

  .signup-shared-links {
    margin-top: 40px;
    a{
      padding: 10px;
      background: #FFAC00;
      color: white;
      border-radius: 2px;
      &:hover {
        text-decoration: none;
        background-color: #e09600;
      }
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .signup-cards {
    grid-template-columns: 1fr;
  }
  .signup-logo {
    margin-bottom: 0;
    display: flex;

  }
  .logo-signup {
    width: 400px;
  }
  .signup-form {
    width: 90%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .signup-cards {
    grid-template-columns: 1fr;
  }
  .signup-logo {
    margin-bottom: 0;
  }
  .logo-signup {
    width: 400px;
  }
  .signup-form {
    width: 90%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

#user_biography {
  height: 200px;
}
