<div class="categories-container">
  <h2>Notifications:</h2>
<ul class="remove_bullet_points">
<% @notifications.each do |n|%>
<li><%= render 'notification', notification: n%></li>
<% end %>
</ul>
</div>
