<div class="banner" style="background-color: #FFAC00">
  <div class="container">
    <h1><strong>Breakfast of Champions</strong> or <strong>the platform</strong> for creative people to receive feedback!</h1>
    <br>
        <%= image_tag "plate", size: "260x260", class: "image-banner"%>

    <p>Get feedback of experts and get your journey started !</p>
    <br>
    <br>
    <br>
    <br>
        <a class="btn btn-flat" href="#">Get Started !</a>
  </div>
</div>
