<div class="banner" style="background-color: white">
  <div class="banner-container">
    <h1><strong>Breakfast of Champions</strong>
      <br>
     <strong> The peer to peer feedback platform for creatives.</strong></h1>
    <br>
        <%= image_tag "boc_21", size: "580x420", class: "image-banner"%>

    <p>Get constructive <strong>feedback</strong> from the community.
      <br>Take your work to the <strong>next level</strong>.</p>
    <br>
    <br>
    <br>
    <br>
        <%= link_to "Create a Profile", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
