<div class="footer-wrapper">
  <div class="footer">
    <div class="footer-logo-container">
      <%= image_tag "boc_10", class: "footer-logo" %>
      <h6>Breakfast of Champions</h6>
    </div>
    <div class="responsive-links">
      <div class="footer-navigate-container">
        <h6> <%=link_to "Explore", posts_path, class: "navigate-text" %> </h6>
        <h6> <%=link_to "Sign up", new_user_registration_path, class: "navigate-text" %> </h6>
      </div>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <h6>Breakfast of Champions &copy 2020</h6>
  </div>
</div>





