<%= render 'shared/banner' %>

<div class="get-started" style="background-color: #FFAC00">
  <div class="get-started-title">
    <h1><strong>How it works?</strong></h1>
    <br></div>
  <div class="container">
  </div>
  <div class="get-started-container">
    <div class="col-3">
      <div class="get-started-flex">
      <h1>1.</h1><p> <br><br><br>Upload your work in progress</p>
      </div>
    </div>
    <div class="col-3">
      <div class="get-started-flex">
      <h1>2.</h1><p> <br><br><br>Ask a question to the community</p>
      </div>
    </div>
    <div class="col-3">
      <div class="get-started-flex">
      <h1>3.</h1> <p> <br><br><br>Get 10 constructive feedback</p>
      </div>
    </div>
  </div>
  <div class=container-btn>
    <div class="vertical-center">
   <a class="btn btn-flat" href="#">Get Started !</a>
   </div>
   </div>
</div>

<div class="join-community" style="background-color: white">
  <div class="join-community-container">
    <h1><strong>What can I ask the champions?</strong></h1>
    <br>
  </div>
  <div class="get-started-container">
    <div class="col-3">
       <%= image_tag "boc_18.png", size: "300x300"%>
       Upload your work in progress
    </div>
    <div class="col-3">
       <%= image_tag "boc_19.png", size: "300x300"%>
       Ask a question to the community
    </div>
    <div class="col-3">
       <%= image_tag "boc_20.png", size: "300x300"%>
       Get 10 constructive feedback
    </div>
  </div>
  <div class=container-btn>
    <div class="vertical-center">
   <a class="btn btn-flat" href="#">Get Started !</a>
   </div>
   </div>

   <br>
   <br>
</div>
