<%= render 'shared/banner' %>
  <div class="banner-container">

<div class="join-community" style="background-color: #FFAC00">
  <div class="join-community-container">
    <h1><strong>What can I ask the champions?</strong></h1>
    <br>
  </div>
  <div class="get-started-container" >
    <div class="col-3">
       <%= image_tag "boc_new_18.png", size: "300x300"%>
       1. Upload your work in progress
    </div>
    <div class="col-3">
       <%= image_tag "boc_new_19.png", size: "300x300"%>
       2. Ask a question to the community
    </div>
    <div class="col-3">
       <%= image_tag "boc_new_20.png", size: "300x300"%>
       3. Get 10 constructive feedback
    </div>
  </div>
  <div class=container-btn>
    <div class="vertical-center">
   <a class="btn btn-flat" href="#">Get Started !</a>
   </div>
   </div>

   <br>
   <br>
</div>
</div>
