.banner {
  box-sizing: content-box;
  background-position: center;
  opacity: 0.9;
  padding: 60px;
}

.banner h1 {
  margin: 30;
  padding: 100px 20px 20px 20px;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  color: black;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  padding: 24px;
  margin: 10px 100px 100px 100px;
}

.banner .btn-flat {


  border-radius: 2px;
background-color: #FFAC00;
  color: white;
  font-size: 20px;
}

.image-banner {
  float: right;
  object-fit: contain;
}

.image-banner:hover {
opacity: 0.4;
}

.banner-container {
  margin: 0;
}
