.banner {
  box-sizing: content-box;
  background-position: center;
  opacity: 0.9;
  padding: 60px;
}

.banner-container h1 {
  margin: 30;
  padding: 10px;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 34px;
}

.banner p {
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  color: black;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  font-size: 18px;
  padding: 30px 100px;
  margin: 10px 50px 50px 100px;
}

.banner .btn-flat {
  border-radius: 2px;
  border-style: 0.1px solid;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 18px;
}

.image-banner {
  float: right;
  display: block;
  object-fit: contain;
}

.image-banner:hover {
opacity: 0.4;
}

.banner-container {
  margin: 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    padding: 30px;
  }
  .banner-container {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .image-banner {
    width: 450px;
    height: 400px;
    float: none;
  }
  .banner a {
    padding: 20px 80px;
    margin: 0;
  }
}
