.footer {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  color: rgba(0,0,0,0.3);
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-logo {
  width: 70px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.responsive-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-navigate-container {
  display: flex;
  flex-direction: row;
}
.navigate-text {
  color: rgba(0,0,0,0.3);
  padding: 0 10px;
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
  }
}
.responsive-links {
  margin-left: auto;
}
.footer-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-left: 30px;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
    color: #FFAC00;
  }
}

.copyright-text {
  margin-right: 20px;
  margin-left: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    margin: 0;
  }
  .responsive-links {
    margin: 0;
  }
  .copyright-text {
    margin: 0;
  }
}

