.footer {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // height: 100px;
  // padding: 0px 50px;
  padding-top: 10px;
  color: rgba(0,0,0,0.3);
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-logo {
  width: 70px;
  margin-bottom: 15px;
}

.responsive-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-navigate-container {
  display: flex;
  flex-direction: row;
}
.navigate-text {
  color: rgba(0,0,0,0.3);
  padding: 0 10px;
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
  }
}
.footer-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
    color: #FFAC00;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  }
  .navigate-text {
    padding: 0 5px;
  }
  .footer-logo-container {
    h6 {
      margin-bottom: 0;
    }
  }
  .footer-logo {
    margin-bottom: 0;
    width: 60px;
  }
  .footer-links a {
    font-size: 18px;
    padding-top: 5px;
  }
}

