.footer {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  padding-top: 10px;
  color: rgba(0,0,0,0.3);
}
.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-logo {
  width: 70px;
}
.footer-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
   h6 {
    margin-bottom: 10px;
  }
}
.navigate-container {
  display: flex;
  flex-direction: column;
}
.navigate-text {
  color: rgba(0,0,0,0.3);
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
  }
}
.footer-links-container {
  display: flex;
  flex-direction: column;
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
    color: #FFAC00;
  }
}
.footer .fa-heart {
  color: #D23333;
}
.footer-copyright {
  margin: 15px 0;
}
