.navbar {
  //height: 62px;
  height: 100%;
  border: 0.1px hidden grey;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#nvbr {
  border-bottom: rgba(0,0,0,0.1) solid 1px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.nav-avatar {
  cursor: pointer;
  margin-right: 20px;
}

.navbar .fa-flag {
  padding-top: 12px;
  font-size: 15px;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.nav-link {
  margin-right: 20px;
}

#navbarSupportedContent{
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar {
  color: black;
}

.search-form-control {
  top: 9px;
  position: relative;
  padding: 2px;
}

.search-form-control .btn {
  opacity: 0.8;
  position: absolute;
  top: 10px;
  bottom: 7px;
  right: 1px;
}

.search-form-control .form-control {
  border-radius: 15px;
  height: 3rem;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.08);
  border: 1px hidden #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.search {
  flex-grow: 0.3;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar {
    height: 100%;
  }
  .navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0;
  }
  .nav-avatar {
  margin-right: 0;
    order: 3;
  }
  .navbar-brand {
    order: 1;
  }

  .navbar-toggler {
    order: 4;
    margin-right: 20px;
    padding: 5px;
  }

  .search {
    order: 2;
  }
  .navbar-collapse {
    order: 5;
  }

  .navbar-nav li {
    text-align: right;
  }
  #navbarSupportedContent{
  margin-right: 15px;
  color: black;
}
}


