.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(40deg,#FFAC00,#f0af17,#F3D591);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
