.post {
    width: 100%;
    height: 75%;
    object-fit: cover;
    position: relative;

}

.post img {
  border-radius: 2px;
}

.post-description {
  display: flex;
  flex-direction: column;
  height: 80vh;
  top: 0;
  width: 100%;
  position: sticky;

}

#delete{
  position: absolute;
  top: 10px;
  right: 100px
}

#edit-post {
  position: absolute;
  top: 10px;
  right: 120px

}
